:root {
  /* Primary colors */
  --color-primary: #7c3aed; /* mauve 9 */
  --color-primary-hover: #6f3ccf; /* mauve 10 */

  /* Background */
  --color-background: #f8fafc; /* slate 1 */
  --color-surface: #e2e8f0; /* slate 3 */

  /* Text */
  --color-text: #0f172a; /* slate 12 */

  /* Status */
  --color-success: #22c55e; /* green 9 */
  --color-error: #ef4444; /* red 9 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
